<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">My City. Kharkov.</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#hotels">Hotels</a></li>
        <li><a href="#contact">Contact</a></li>        
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container" role="main">  
  <app-filters [elements]="hotels" [searchField]="1===1" [buttonFields]="hotelsFilters()" (selectedFields)="onFilterSelect($event)"></app-filters>
  <div class="row">
    <div class="col-sm-3">
        <app-list [elements]="filteredHotels()" (elementClick)="elementSelect($event)"></app-list>
    </div>
    <div class="col-sm-9">
        <app-hotel-detail [hotel]="getSelectedElement()"></app-hotel-detail>
    </div>
  </div>   
</div>

